@import url('https://fonts.googleapis.com/css?family=Courgette');

body {
  font-family: 'Courgette', cursive;
}
p {
  line-height: 2rem;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-20 {
    font-size: 20px;
}
.margin-top-80 {
  margin-top: 80px
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.teal-text.text-lighten-2 {
  color: #15265a !important;
}

#map {
height: 400px;  /* The height is 400 pixels */
width: 100%;  /* The width is the width of the web page */
}
